@import '../../assets/styles/mixins.styl'
$redColor = #ff4d6a

.testEcharts
    font-size rem(30)
    padding rem(10)
    box-sizing border-box
    .tit
        text-align left
    .per-part
        display flex
    .item-tit
        display inline
        text-align center
        padding rem(20)
        // border-radius rem(8)
        border-right 4px solid $redColor
        color $redColor
    .item-main
        padding rem(10) 0 rem(30)