@import '../../assets/styles/mixins.styl'
$redColor = #ff4d6a

.testEcharts
    font-size rem(30)
    padding rem(10)
    box-sizing border-box
    .tit
        text-align left
    .per-part
        // display flex
    .item-tit
        width 100%        
        text-align left
        padding rem(20)
        border-left rem(4) solid $redColor
        color $redColor
        box-sizing border-box
    .item-main
        width 100%
        box-sizing border-box
        padding rem(10) 0 rem(30)
        .echarts
            height rem(500)