@import '../../assets/styles/mixins'

.component-header
    height rem(80)
    text-align center
    line-height rem(80)
    position relative
    font-size rem(32)
    .h-main
        background-color #ff4d6a
        color #fff