@import '../../assets/styles/mixins'

$redColor = #ff4adb;
.loginView
    padding rem(20)
    font-size rem(32)
    .demo-ajax
        margin-top rem(20)
        text-align center
        color $redColor
        padding rem(20)
        border-radius rem(20)
        border 1px solid $redColor

